body {
  --root-padding-vertical: 15px;
  --root-max-width: 1200px;
  --nav-height: 50px;

  --red: #9b4444;
  --blue: #44719b;
  --border-color: #2d3133;
  --bg-shallow-3: #4e4e4e;
  --bg-shallow-2: #3f3f3f;
  --bg-shallow-1: #333333;
  --bg-shallow-alt: #303030;
  --bg-shallow: #221f1f;
  --bg-deep: #242726;
  --text-muted: #bdbdbd;
  --text: white;
  --spacing: 10px;
  --border-radius: 5px;
  --animation-speed: 0.125s;

  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-deep);
  color: var(--text);
}

@media screen and (max-width: 1800px) {
  body {
    --root-max-width: 1000px;
  }
}

@media screen and (max-width: 1400px) {
  body {
    --root-max-width: 800px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    --root-max-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  body {
    --root-max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  body {
    --root-max-width: calc(100vw - 20%);
  }
}

nav.site-nav {
  display: flex;
  flex-flow: row;
  width: var(--root-max-width);
  padding: var(--root-padding-vertical) calc((100vw - var(--root-max-width)) / 2);
  background-color: var(--bg-shallow);
  height: calc(var(--nav-height) - (var(--root-padding-vertical) * 2));
}

a {
  text-decoration: none;
  color: var(--text-muted);
  transition: color var(--animation-speed) linear;
}

a:hover {
  color: var(--text);
}

nav.site-nav > .nav-links {
  flex-grow: 1;
  display: flex;
  flex-flow: row-reverse;
}

div.site-inner {
  padding: var(--root-padding-vertical) 0;
  width: var(--root-max-width);
  margin: 0 auto;
  --padding-offset: calc((var(--root-padding-vertical)) * 2);
  min-height: calc(100vh - var(--padding-offset) - var(--nav-height));
}

form > label {
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  font-size: 0.8rem;
}

form input {
  padding: var(--spacing);
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  outline: none;
  background-color: var(--bg-shallow);
  color: var(--text);
}

button[type=submit], input[type=button] {
  padding: var(--spacing);
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  outline: none !important;

  border-color: var(--border-color);
  background-color: var(--bg-shallow-alt);
  color: var(--text);

  transition: background-color var(--animation-speed) linear;
}

button[type=submit]:hover, input[type=button]:hover {
  background-color: var(--bg-shallow-1);
}

button[type=submit]:active, input[type=button]:active {
  background-color: var(--bg-shallow-2);
}

form input:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form input:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

form input:not(:last-child) {
  border-bottom: none;
}

div.dropdown-holder {
  position: relative;
}

div.dropdown-holder > div.dropdown-inner {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 150px;
  right: 0;
  margin-top: 5px;
  padding: 10px 0;
  background-color: var(--bg-shallow-1);
  border-radius: var(--border-radius);
}

div.dropdown-holder > div.dropdown-inner > a {
  padding: 5px 10px;
}

div.dropdown-holder > div.dropdown-inner > a:hover {
  background-color: var(--bg-shallow-2);
}

div.dropdown-holder > div.dropdown-inner > a:active {
  background-color: var(--bg-shallow-3);
}

div.dropdown-holder > a.dropdown-label {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

div.dropdown-holder > a.dropdown-label > .dropdown-chevy {
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 7.5px;
  line-height: 0;
}

.jumbotron {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}